* {
    box-sizing: border-box;
}

.regularButton {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.current {
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.8);
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.startButton {
    width: 100%;
    max-width: 550px;
}

.iconButton {
    width: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0.75;
    cursor: pointer;
}

.iconButton:hover {
    opacity: 1;
}

.iconButtonTest {
    color: rgb(41, 27, 236);
    text-shadow: 2px 8px 10px rgba(0, 0, 0, 0.8);
    display: inline-block;
    width: 60px;
    font-size: 40px;
    margin: 20px 0;
}

.fa-js-square {
    color: yellow;
}

.fa-html5 {
    color: orange;
}

.fa-css3-alt {
    color: rgb(78, 245, 245);
}

.fa-react {
    color: purple;
}

.submitButton {
    position: fixed;
    bottom: 30px;
}
