.mainLoading {
    background: linear-gradient(to top, lightgray 70%, white);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.mainLoading img {
    width: 90%;
    max-width: 500px;
}
