.mainDiv {
    color: white;
    font-size: 1rem;
    outline: none;
    background-color: transparent;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    padding:15px 5px;
    height: 10%;
    display: flex;
    width: 100%;
}

.title {
    font-weight: bolder;
    font-size: 200%;
    padding-bottom: 1%;
    cursor: pointer;

}
.title:hover {
    color: gray;
    text-decoration: underline;
}
.description {
    font-size: 125%;
    padding-bottom:1%;
}
.likesSection {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 200%;
    cursor: pointer;

}

.questionSection {
    width: 70%;
}

.description1 {
    display: flex;
}

.link {
    margin: 0;
    padding: 2px;
    font-size: 200%;

}

.handleDelete {
    margin: 0;
    padding: 2px;
    font-size: 200%;
    cursor: pointer;
}

.likesSection1 {
    margin: 0;
}

.likesSection2 {
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    font-size: 120%;
    cursor: default;
}