.mainDiv {
    color: white;
    font-size: 1rem;
    outline: none;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    padding: 15px 20px;
    cursor: pointer;
}