.navbar{
    box-sizing: border-box;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.navLogo img{
    max-height: 20vh;
    opacity: 0.9;
}

.navLogo:hover img{
    opacity: 1;
}

#navViewList {
    display: flex;
    width: 100vw;
    align-content: flex-end;
    justify-content: space-around;
    margin: 0;
}


#navViewList a{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}
#navViewList:hover a{
    opacity: 0.9;
}

@media (min-width: 600px){
    .navbar{
        flex-direction: row;
        align-items: center;
    }
    .navLogo{
        width: 50vw;
    }
    .navLogo img{
       margin: 0 50px;
    }
    #navViewList {
        width: 40vw;
        align-items: flex-end;
    }
}