@font-face{
    font-family: 'Rationale';
    src: '../fonts/Rationale-Regular.ttf'
}

.navbar{
    box-sizing: border-box;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.navLogo img{
    max-height: 15vh;
    opacity: 1;
    transition: all 0.15s ease-in-out;
}

.navLogo:hover img{
    opacity: 0.85;
}

.navViewList {
    display: flex;
    width: 100vw;
    align-content: flex-end;
    justify-content: space-around;
    margin: 0;
}


.navViewList a{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 0.9rem;
    font-family: 'Rationale';
    text-decoration: none;
    margin: 0;
    padding: 10px;
    transition: 0.3s ease;
}

.navViewList a:hover{
    opacity: 0.9;
}

.navViewList a.navActive {
    background: rgba(190, 57, 57, 0.53);
    border-radius: 4px;
}

@media (min-width: 600px){
    .navbar{
        flex-direction: row;
        align-items: center;
    }
    .navLogo{
        width: 50vw;
    }
    .navLogo img{
       margin: 0 50px;
    }
    .navViewList {
        width: 40vw;
    }
    .navViewList a{
        font-size: 1rem;
    }
}