.mainDiv {
    display: flex;
    flex-direction: row;
    background: grey;
    color:white;
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
    width: 90%;
}
.firstDiv{
    width: 50%;
}
.secondDiv {
    display: flex;
    flex-direction: row;
    width: 50%;
   justify-content: flex-end;
   
}

.datesDiv {
    display: flex;
    padding: 10px;
    flex-direction: column;
    
}

.likesDiv {
    display: flex;
    flex-direction: column;
    padding: 10px;
}