*{
    box-sizing: border-box;
}

.intro{
    display: flex;
    flex-direction: column;
}

.languages{
    display: flex;
    justify-content: space-between;
}

.language{
    text-align: center;
    border: solid 1px blue;
    padding: 2% 3%;
    margin: 2%;
}