*{
    box-sizing: border-box;
}

.start{
    cursor: pointer;
}

.intro{
    display: flex;
    flex-direction: column;
}

.languages{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.language i{
    
    text-align: center;
    border: solid 1px blue;
    padding: 20% 30%;
    
    cursor: pointer;
}

