* {
    box-sizing: border-box;
    margin: 0 auto;
}

.FlashcardsIntroCard {
    background-color: transparent;
    font-size: 1.1rem;
    width: 80vw;
    color: #416071;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FlashcardsIntro {
    text-align: center;
}

.flashcardsTechChoice {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.flashcardTechIcon {
    width: 35px;
    height: 35px;
    margin: 10px;
}

@media (min-width: 750px) {
    .FlashcardsIntroCard {
        width: 60vw;
        font-size: 1.3rem;
    }

    .flashcardTechIcon {
        width: 45px;
        height: 45px;
        margin: 20px;
    }
}
