@font-face {
    font-family: 'Adventpro';
    src: url('./fonts/Adventpro-Regular.ttf');
}

body {
    font-family: 'Adventpro', sans-serif;
}

/*Forum Item.js*/

.link-style {
    color: inherit;
    text-decoration: inherit;
}
