@font-face {
    font-family: 'Rationale';
    src: url('./fonts/Rationale-Regular.ttf');
}

@font-face {
    font-family: 'Adventpro';
    src: url('./fonts/Adventpro-Regular.ttf');
}

body {
    font-family: 'Adventpro';
}
