@font-face{
    font-family: 'Rationale';
    src: url('./fonts/Rationale-Regular.ttf');
}

body{
    font-family: 'Rationale';
}



/*Forum Item.js*/

.link-style {
    color: inherit;
    text-decoration: inherit;
}